[Unit]
Description=Master Control Board
#After=network-test.service
#Requires=network-test.service

[Service]
Type=simple
ExecStart=/home/crackers/java -jar /home/crackers/bboard.jar
Restart=on-failure

[Install]
WantedBy=default.target
